:root {
    --azul: #0833a2;
    --fondo: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    background: var(--fondo);
    font-family: 'Roboto', sans-serif;
    align-items: center;
    justify-content: center;



}

.contenedor {
    width: 90%;
    margin: auto;
}

header {
    padding: 30px 0;


}

header .contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logotipo {
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
    color: var(--azul);
    font-size: 40px;
    justify-content: flex-start;
}

header nav a {
    color: rgb(41, 41, 41);
    text-decoration: none;
    margin-right: 20px;
}

header nav a:hover,
header nav a.activo {
    color: #181bb8;
}

.logoEmpresa {
    width: 150px;
    height: 150px;
}

.publicidad-principal {
    font-size: 16px;
    min-height: 40.62em;
    color: #fff;
    background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0, 0, 0, 0.50) 100%), url(../img/hero.jpg);
    background-position: center center;
    background-size: cover;
    margin-bottom: 3.12em;
    display: flex;
    align-items: end;
    
}

.publicidad-principal .contenedor {

    margin: 0 auto;
    margin-bottom: 6.25em;
}

.app {
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 100px;
    margin-bottom: 100px;
}

.img1 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    animation-name: girarb;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    display: inline-block;
}

/*Productos*/
@keyframes girarb {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.Productos__title {
    
    justify-content: center;
    color: #26125e;
    margin-bottom: 30px;
}

.conte {
    height: 500px;
    box-shadow: 0 0 7px #111111;
    margin: 50px 30px;
    background-color: white;

}

.conte .card {
    height: 200px;
    width: 100%;
    margin-bottom: 170px;
}

.card img {
    margin: auto;
    width: 100%;
}

.evee img {
    height: 330px;
    width: 330px;
}

.control img {
    height: 330px;
    width: 330px;
}

.amiibo img {
    height: 330px;
    width: 330px;
}


.title {
    text-decoration: none;

}

.title h1:hover {
    color: rgb(45, 18, 139);
}

.conte .evee {
    background-color: #c2c5c3;
}

.conte .control {
    background-color: #bbd4fa;
}

.conte .amiibo {
    background-color: #e9c3ff;
}

.info {
    height: 50px;
    width: 100%;
}

.info h1 {
    font-family: sans-serif;
    font-size: 1.2em;
    text-align: center;
    color: #333;
    margin-bottom: -10px;
}

.info p {
    text-align: center;
    font-family: sans-serif;
    font-size: .9em;
    margin-top: 10px;
    color: #555;
}

.precio {
    height: 50px;
    width: 85%;
    margin: auto;
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-precio {
    width: 80px;
}

.precio1 {
    color: red;
    font-size: .8em;
}

.precio .precio2 {
    font-size: 1.5em;
}

.shoping {
    font-size: 1.5em;
    color: #555;
}

/*Tiendas*/
.container__tiendas {
    background-size: cover;
    height: 450px;
    width: 50%;
    position: relative;
    left: 450px;
}

.title__tiendas h2 {
    font-size: 2rem;
    margin-top: 100px;
    margin-bottom: 10px;
}

.ubicaciones a {
    text-decoration: none;
    margin-top: 30px;

}

.ubicaciones a:hover {
    color: #3853cf;

}

/*preguntas*/

.contenedor__acordeon {
    width: 50%;
    max-width: 800px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

.contenedor__acordeon h2 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 40px;

}

.acordeon {
    background-color: #fff;

}

.acordeon label {
    display: block;
    padding: 20px;
    font-size: 20px;
    background-color: #111111;
    color: #fff;
    cursor: pointer;
    margin: 2px;
    transition: all 300ms ease;
}

.acordeon label:hover {
    background: #26125e;
}

.acordeon .contenido-acordeon {
    padding: 0px;
    margin: 0px 20px;
    max-height: 0px;
    overflow: hidden;
    transition: all 300ms ease;
}

.btn-acordeon:checked~.contenido-acordeon {
    max-height: 600px;
    padding: 15px 0px;
}

.btn-acordeon {
    display: none;
}

@media screen and (max-width:900px) {
    .contenedor-acordeon {
        width: 90%;
    }
}


/*Contacto*/
.form {
    width: 340px;
    height: 440px;
    background: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: 0 0 40px -10px #313131;
    margin: calc(40vh - 220px)auto;
    padding: 20px 30px;
    max-width: calc(100vw -40px);
    box-sizing: border-box;
    font-family: sans-serif;
    position: relative;
    
    margin-bottom: 100px;
}

.form h2{
    margin: 10px 0;
    padding-bottom: 10px;
    width: 180px;
    border-bottom: 3px solid black;
}

.form input{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background: none;
    resize: none;
    border: 0;
    font-family: sans-serif;
    transition: all .3s;
    border-bottom: 2px solid grey;
}

.form input:focus{
    border-bottom: 2px solid lightblue;
}

.form p:before{
    content: attr(type);
    display: block;
    margin: 28px 0 0;
    font-size: 14px;
    color: gray;
}

.form button{
    float: right;
    padding: 8px 12px;
    margin: 8px 0 0;
    font-family: sans-serif;
    border: 2px;
    background: 0;
    color: #000;
    transition: all .3s;
}

.form button:hover{
    background: rgb(44, 104, 214);
    color: #dce3eb;
}

.form div{
    position: absolute;
    bottom: -15px;
    right: -20px;
    background: #000;
    color: white;
    width: 320px;
    padding: 16px 4px 16px 0;
    border-radius: 6px;
    font-size: 12px;
    box-shadow: 10px 10px 40px -14px #000;
}

.form span{
    margin:0 15px  15px;
}
/* Footer */
.footer {
    background-color: #dce3eb;
    width: 100%;

}

.footer .group1 {
    width: 100%;
    max-width: 1400px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.footer .group1 .box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .group1 .box figure img {
    width: 200px;
}

.footer .group1 .box h2 {
    color: rgb(15, 15, 15);
    margin-bottom: 25px;
    font-size: 20px;
}

.footer .group1 .box p {
    color: rgb(99, 94, 94);
    margin-bottom: 10px;
}

.footer .group1 .rrss a {
   
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    margin-right: 10px;
    background-color: dce3eb;
    color: rgb(10, 10, 10);
    text-align: center;
    transition: all 300ms ease;
}

.footer .group1 .rrss a:hover {
    color: #0909f5;
}

.footer .group2 {
    padding: 15px 10px;
    text-align: center;
    color: rgb(136, 138, 138);

}


@media screen and (max-width:800px) {
    .footer .group1 {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }

}

/* 
Carrusel */
.slider{
	margin: auto;
	overflow: hidden;
 
	width: 95%;
}
.slider ul{
	display: flex;
	padding: 0;
	width: 400%;
 
	animation:cambio 40s infinite;
	animation-direction:alternate;
}
.slider li{
	list-style: none;
	width: 100%;
}
.slider img{
	width: 100%;
}
@keyframes cambio{
	0%{margin-left: 0;}
	20%{margin-left: 0;}
 
	25%{margin-left: -100%;}
	45%{margin-left: -100%;}
 
	50%{margin-left: -200%;}
	70%{margin-left: -200%;}
 
	75%{margin-left: -300%;}
	100%{margin-left: -300%;}
}


/* otro slide */
.slide {
    position: relative;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
    margin-top: 26px;
}
.slide img{
	width: 100%;
}
.slide-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: calc( 300px + 3em);
}
.slide-open:checked + .slide-item {
    position: static;
    opacity: 100;
}
.slide-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}
.slide-item img {
    display: block;
    height: auto;
    max-width: 400%;
}
.slide-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}
.slide-control.prev {
    left: 2%;
}
.slide-control.next {
    right: 2%;
}
.slide-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}
#slide-1:checked ~ .control-1,
#slide-2:checked ~ .control-2,
#slide-3:checked ~ .control-3 {
    display: block;
}
.slide-indicador {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}
.slide-indicador li {
    display: inline-block;
    margin: 0 5px;
}
.slide-circulo {
    color: #828282;
    cursor: pointer;
    display: block;
    font-size: 35px;
}
.slide-circulo:hover {
    color: #aaaaaa;
}
#slide-1:checked ~ .control-1 ~ .slide-indicador 
     li:nth-child(1) .slide-circulo,
#slide-2:checked ~ .control-2 ~ .slide-indicador 
      li:nth-child(2) .slide-circulo,
#slide-3:checked ~ .control-3 ~ .slide-indicador 
      li:nth-child(3) .slide-circulo {
    color: #428bca;
}
#titulo {
    width: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 27px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), 
         -1px 0px 2px rgba(255, 255, 255, 0);
}