$color_1: var(--azul);
$color_2: rgb(41, 41, 41);
$color_3: #181bb8;
$color_4: #fff;
$color_5: #26125e;
$color_6: rgb(45, 18, 139);
$color_7: #333;
$color_8: #555;
$color_9: red;
$color_10: #3853cf;
$color_11: gray;
$color_12: #000;
$color_13: #dce3eb;
$color_14: white;
$color_15: rgb(15, 15, 15);
$color_16: rgb(99, 94, 94);
$color_17: rgb(10, 10, 10);
$color_18: #0909f5;
$color_19: rgb(136, 138, 138);
$font-family_1: 'Roboto', sans-serif;
$font-family_2: 'Fjalla One', sans-serif;
$font-family_3: sans-serif;
$background-color_1: white;
$background-color_2: #c2c5c3;
$background-color_3: #bbd4fa;
$background-color_4: #e9c3ff;
$background-color_5: #9dd1c4;
$background-color_6: #1a25b3;
$background-color_7: #6feb36;
$background-color_8: #fff;
$background-color_9: #111111;
$background-color_10: #dce3eb;
$background-color_11: dce3eb;

/*Productos*/
@keyframes girarb {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
/*Tiendas*/
/*preguntas*/
/*Contacto*/
/* Footer */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background: var(--fondo);
	font-family: $font-family_1;
	align-items: center;
	justify-content: center;
}
.space {
	margin-bottom: 5%;
	margin-top: 2%;
}
.contenedor {
	width: 90%;
	margin: auto;
}
header {
	padding: 30px 0;
	.contenedor {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.logotipo {
		font-family: $font-family_2;
		font-weight: normal;
		color: $color_1;
		font-size: 40px;
		justify-content: flex-start;
	}
	nav {
		a {
			color: $color_2;
			text-decoration: none;
			margin-right: 20px;
			&:hover {
				color: $color_3;
			}
		}
		a.activo {
			color: $color_3;
		}
	}
}
.logoEmpresa {
	width: 150px;
	height: 150px;
}
.publicidad-principal {
	font-size: 16px;
	min-height: 40.62em;
	color: $color_4;
	background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0, 0, 0, 0.50) 100%), url(../../img/hero.jpg);
	background-position: center center;
	background-size: cover;
	margin-bottom: 3.12em;
	display: flex;
	align-items: end;
	.contenedor {
		margin: 0 auto;
		margin-bottom: 6.25em;
	}
}
.app {
	position: relative;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	display: flex;
	margin-top: 100px;
	margin-bottom: 100px;
}
.img1 {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	animation-name: girarb;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	display: inline-block;
}
.Productos__title {
	justify-content: center;
	color: $color_5;
	margin-bottom: 30px;
}
.conte {
	height: 500px;
	box-shadow: 0 0 7px #111111;
	margin: 50px 30px;
	background-color: $background-color_1;
	.card {
		height: 200px;
		width: 100%;
		margin-bottom: 170px;
	}
	.evee {
		background-color: $background-color_2;
	}
	.control {
		background-color: $background-color_3;
	}
	.amiibo {
		background-color: $background-color_4;
	}
	.theLast {
		background-color: $background-color_5;
	}
	.consolaPS5 {
		background-color: $background-color_6;
	}
	.audifonosXbox {
		background-color: $background-color_7;
	}
}
.card {
	img {
		margin: auto;
		width: 100%;
	}
}
.evee {
	img {
		height: 330px;
		width: 330px;
	}
}
.control {
	img {
		height: 330px;
		width: 330px;
	}
}
.amiibo {
	img {
		height: 330px;
		width: 330px;
	}
}
.theLast {
	img {
		height: 330px;
		width: 330px;
	}
}
.consolaPS5 {
	img {
		height: 330px;
		width: 330px;
	}
}
.audifonosXbox {
	img {
		height: 330px;
		width: 330px;
	}
}
.title {
	text-decoration: none;
	h1 {
		&:hover {
			color: $color_6;
		}
	}
}
.info {
	height: 15px;
	width: 100%;
	h1 {
		font-family: $font-family_3;
		font-size: 1.2em;
		text-align: center;
		color: $color_7;
		margin-bottom: -10px;
	}
	p {
		text-align: center;
		font-family: $font-family_3;
		font-size: .9em;
		margin-top: 10px;
		color: $color_8;
	}
}
.precio {
	height: 45px;
	width: 85%;
	margin: auto;
	font-family: $font-family_3;
	display: flex;
	justify-content: center;
	.precio2 {
		font-size: 1.5em;
	}
}
.box-precio {
	width: 80px;
}
.precio1 {
	color: $color_9;
	font-size: .8em;
}
.shoping {
	font-size: 1.5em;
	color: $color_8;
}
.container__tiendas {
	background-size: cover;
	height: 450px;
	width: 50%;
	position: relative;
	left: 450px;
}
.title__tiendas {
	h2 {
		font-size: 2rem;
		margin-top: 100px;
		margin-bottom: 10px;
	}
}
.ubicaciones {
	a {
		text-decoration: none;
		margin-top: 30px;
		&:hover {
			color: $color_10;
		}
	}
}
.contenedor__acordeon {
	width: 50%;
	max-width: 800px;
	margin: auto;
	margin-top: 40px;
	margin-bottom: 40px;
	h2 {
		text-align: center;
		font-size: 40px;
		margin-bottom: 40px;
	}
}
.acordeon {
	background-color: $background-color_8;
	label {
		display: block;
		padding: 20px;
		font-size: 20px;
		background-color: $background-color_9;
		color: $color_4;
		cursor: pointer;
		margin: 2px;
		transition: all 300ms ease;
		&:hover {
			background: #26125e;
		}
	}
	.contenido-acordeon {
		padding: 0px;
		margin: 0px 20px;
		max-height: 0px;
		overflow: hidden;
		transition: all 300ms ease;
	}
}
.btn-acordeon {
	&:checked~.contenido-acordeon {
		max-height: 600px;
		padding: 15px 0px;
	}
	display: none;
}
.form {
	width: 340px;
	height: 440px;
	background: rgb(255, 255, 255);
	border-radius: 8px;
	box-shadow: 0 0 40px -10px #313131;
	margin: calc(40vh - 220px)auto;
	padding: 20px 30px;
	max-width: calc(100vw -40px);
	box-sizing: border-box;
	font-family: $font-family_3;
	position: relative;
	margin-bottom: 100px;
	h2 {
		margin: 10px 0;
		padding-bottom: 10px;
		width: 180px;
		border-bottom: 3px solid black;
	}
	input {
		width: 100%;
		padding: 10px;
		box-sizing: border-box;
		background: none;
		resize: none;
		border: 0;
		font-family: $font-family_3;
		transition: all .3s;
		border-bottom: 2px solid grey;
		&:focus {
			border-bottom: 2px solid lightblue;
		}
	}
	p {
		&:before {
			content: attr(type);
			display: block;
			margin: 28px 0 0;
			font-size: 14px;
			color: $color_11;
		}
	}
	button {
		float: right;
		padding: 8px 12px;
		margin: 8px 0 0;
		font-family: $font-family_3;
		border: 2px;
		background: 0;
		color: $color_12;
		transition: all .3s;
		&:hover {
			background: rgb(44, 104, 214);
			color: $color_13;
		}
	}
	div {
		position: absolute;
		bottom: -15px;
		right: -20px;
		background: #000;
		color: $color_14;
		width: 320px;
		padding: 16px 4px 16px 0;
		border-radius: 6px;
		font-size: 12px;
		box-shadow: 10px 10px 40px -14px #000;
	}
	span {
		margin: 0 15px 15px;
	}
}
.footer {
	background-color: $background-color_10;
	width: 100%;
	.group1 {
		width: 100%;
		max-width: 1400px;
		margin: auto;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 50px;
		padding: 45px 0px;
		.box {
			figure {
				width: 100%;
				height: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				img {
					width: 200px;
				}
			}
			h2 {
				color: $color_15;
				margin-bottom: 25px;
				font-size: 20px;
			}
			p {
				color: $color_16;
				margin-bottom: 10px;
			}
		}
		.rrss {
			a {
				text-decoration: none;
				width: 45px;
				height: 45px;
				line-height: 45px;
				margin-right: 10px;
				background-color: $background-color_11;
				color: $color_17;
				text-align: center;
				transition: all 300ms ease;
				&:hover {
					color: $color_18;
				}
			}
		}
	}
	.group2 {
		padding: 15px 10px;
		text-align: center;
		color: $color_19;
	}
}
@media screen and (max-width:900px) {
	.contenedor-acordeon {
		width: 90%;
	}
}
@media screen and (max-width:800px) {
	.footer {
		.group1 {
			width: 90%;
			grid-template-columns: repeat(1, 1fr);
			grid-gap: 30px;
			padding: 35px 0px;
		}
	}
}
