$color_1: var(--azul);
$color_2: rgb(41, 41, 41);
$color_3: #181bb8;
$color_4: #fff;
$color_5: #26125e;
$color_6: rgb(45, 18, 139);
$color_7: #333;
$color_8: #555;
$color_9: red;
$color_10: #3853cf;
$color_11: gray;
$color_12: #000;
$color_13: #dce3eb;
$color_14: white;
$color_15: rgb(15, 15, 15);
$color_16: rgb(99, 94, 94);
$color_17: rgb(10, 10, 10);
$color_18: #0909f5;
$color_19: rgb(136, 138, 138);
$background-color_1: white;
$background-color_2: #c2c5c3;
$background-color_3: #bbd4fa;
$background-color_4: #e9c3ff;
$background-color_5: #9dd1c4;
$background-color_6: #1a25b3;
$background-color_7: #6feb36;
$background-color_8: #fff;
$background-color_9: #111111;
$background-color_10: #dce3eb;