.contenedor {
	width: 90%;
	margin: auto;
}
header {
	
	.contenedor {
		display: flex;
		justify-content: space-between;
		align-items: center;
		
	}
	.logotipo {
		font-family: $font-family_2;
		font-weight: normal;
		color: $color_1;
		font-size: 40px;
		justify-content: flex-start;
	}
	nav {
		a {
			color: $color_2;
			text-decoration: none;
			margin-right: 20px;
			&:hover {
				color: $color_3;
			}
		}
		a.activo {
			color: $color_3;
		}
	}
}
.logoEmpresa {
	width: 120px;
	height: 120px;
}