@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background: var(--fondo);
  font-family: "Roboto", sans-serif;
  align-items: center;
  justify-content: center; }

.contenedor {
  width: 90%;
  margin: auto; }

header .contenedor {
  display: flex;
  justify-content: space-between;
  align-items: center; }

header .logotipo {
  font-family: "Fjalla One", sans-serif;
  font-weight: normal;
  color: var(--azul);
  font-size: 40px;
  justify-content: flex-start; }

header nav a {
  color: #292929;
  text-decoration: none;
  margin-right: 20px; }
  header nav a:hover {
    color: #181bb8; }

header nav a.activo {
  color: #181bb8; }

.logoEmpresa {
  width: 140px;
  height: 140px; }

.publicidad-principal {
  font-size: 16px;
  min-height: 40.62em;
  color: #fff;
  background: linear-gradient(rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url(../../img/hero.jpg);
  background-position: center center;
  background-size: cover;
  margin-bottom: 3.12em;
  display: flex;
  align-items: end; }
  .publicidad-principal .contenedor {
    margin: 0 auto;
    margin-bottom: 6.25em; }

@keyframes girarb {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.app {
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 100px;
  margin-bottom: 100px; }

.img1 {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  animation-name: girarb;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  display: inline-block; }

.Productos__title {
  justify-content: center;
  color: #26125e;
  margin-bottom: 30px; }

.conte {
  height: 500px;
  box-shadow: 0 0 7px #111111;
  margin: 50px 30px;
  background-color: white; }
  .conte .card {
    height: 200px;
    width: 100%;
    margin-bottom: 170px;
    border-radius: 1px;
    background-color: ""; }
  .conte .cardrose {
    background-color: #e9c3ff; }
  .conte .cardgray {
    background-color: #c9cfcf; }
  .conte .cardgreenlight {
    background-color: #6feb36; }

.card img {
  margin: auto;
  width: 100%;
  height: 330px; }

.title {
  text-decoration: none; }
  .title h1:hover {
    color: #2d128b; }

.info {
  height: 15px;
  width: 100%; }
  .info h1 {
    font-family: sans-serif;
    font-size: 1.2em;
    text-align: center;
    color: #333;
    margin-bottom: -10px; }
  .info p {
    text-align: center;
    font-family: sans-serif;
    font-size: .9em;
    margin-top: 10px;
    color: #555; }

.precio {
  height: 45px;
  width: 85%;
  margin: auto;
  font-family: sans-serif;
  display: flex;
  justify-content: center; }
  .precio .precio2 {
    font-size: 1.5em; }

.box-precio {
  width: 80px; }

.precio1 {
  color: red;
  font-size: .8em; }

.shoping {
  font-size: 1.5em;
  color: #555; }

.space {
  margin-bottom: 5%;
  margin-top: 2%; }

.container__tiendas {
  background-size: cover;
  height: 450px;
  width: 50%;
  position: relative;
  left: 450px; }

.title__tiendas h2 {
  font-size: 2rem;
  margin-top: 100px;
  margin-bottom: 10px; }

.ubicaciones a {
  text-decoration: none;
  margin-top: 30px; }
  .ubicaciones a:hover {
    color: #3853cf; }

.contenedor__acordeon {
  width: 50%;
  max-width: 800px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px; }
  .contenedor__acordeon h2 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 40px; }

.acordeon {
  background-color: #fff; }
  .acordeon label {
    display: block;
    padding: 20px;
    font-size: 20px;
    background-color: #111111;
    color: #fff;
    cursor: pointer;
    margin: 2px;
    transition: all 300ms ease; }
    .acordeon label:hover {
      background: #26125e; }
  .acordeon .contenido-acordeon {
    padding: 0px;
    margin: 0px 20px;
    max-height: 0px;
    overflow: hidden;
    transition: all 300ms ease; }

.btn-acordeon {
  display: none; }
  .btn-acordeon:checked ~ .contenido-acordeon {
    max-height: 600px;
    padding: 15px 0px; }

.footer {
  background-color: #dce3eb;
  width: 100%; }
  .footer .group1 {
    width: 100%;
    max-width: 1400px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px; }
    .footer .group1 .box figure {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
      .footer .group1 .box figure img {
        width: 200px; }
    .footer .group1 .box h2 {
      color: #0f0f0f;
      margin-bottom: 25px;
      font-size: 20px; }
    .footer .group1 .box p {
      color: #635e5e;
      margin-bottom: 10px; }
    .footer .group1 .rrss a {
      text-decoration: none;
      width: 45px;
      height: 45px;
      line-height: 45px;
      margin-right: 10px;
      background-color: #dce3eb;
      color: #0a0a0a;
      text-align: center;
      transition: all 300ms ease; }
      .footer .group1 .rrss a:hover {
        color: #0909f5; }
  .footer .group2 {
    padding: 15px 10px;
    text-align: center;
    color: #888a8a; }

@media screen and (max-width: 900px) {
  .contenedor-acordeon {
    width: 90%; } }

@media screen and (max-width: 800px) {
  .footer .group1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px; } }
